@page "/"
@using Microsoft.EntityFrameworkCore;
@using EcommerceProject.App.Data;

<PageTitle>Index</PageTitle>
<div style="color:black; display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center; font-size:1.5rem; font-family:'Comic Sans MS';">
    <div style="border-color:darkseagreen; border-width:2px">
        <p>Everybody is a Genius. But If </p>
        <p>You Judge a Fish by Its Ability</p>
        <p>to Climb a Tree, It Will Live Its</p>
        <p> Whole Life Believing that It is</p>
        <p>Stupid.</p>
       <br/>
        <p style="position:center">- Albert Einstein</p>
       
    </div>
</div>